@font-face {font-family: "WhitneyHTF-Book";
  src: url("ac5020e372aa78ac9d2317ad39ddb184.eot"); /* IE9*/
  src: url("ac5020e372aa78ac9d2317ad39ddb184.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("ac5020e372aa78ac9d2317ad39ddb184.woff2") format("woff2"), /* chrome?firefox */
  url("ac5020e372aa78ac9d2317ad39ddb184.woff") format("woff"), /* chrome?firefox */
  url("ac5020e372aa78ac9d2317ad39ddb184.ttf") format("truetype"), /* chrome?firefox?opera?Safari, Android, iOS 4.2+*/
  url("ac5020e372aa78ac9d2317ad39ddb184.svg#WhitneyHTF-Book") format("svg"); /* iOS 4.1- */
}
* {
    font-family: WhitneyHTF-Book;
}


