
{% extends "application/base.html" %}

{% load static %}
{% block header %}
<!DOCTYPE html>
<html lang="en">
   <!-- Basic -->
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <!-- Mobile Metas -->
   <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
   <!-- Site Metas -->
   {% block title %}{% endblock %}
   <meta name="keywords" content="">
   <meta name="description" content="">
   <meta name="author" content="">
   <!-- Site Icons -->
   <link rel="shortcut icon" href="" type="image/x-icon" />
   <link rel="apple-touch-icon" href="">
   <!-- <script src="{% static 'js/commander.js' %}"></script> -->
   <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
   <!-- Site CSS -->
   <link rel="stylesheet" href="{% static 'style.css' %}">
   <!-- Colors CSS -->
   <link rel="stylesheet" href="{% static 'css/colors.css' %}">
   <!-- ALL VERSION CSS -->
   <link rel="stylesheet" href="{% static 'css/versions.css' %}">
   <!-- Responsive CSS -->
   <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
   <!-- Custom CSS -->
   <link rel="stylesheet" href="{% static 'css/custom.css' %}">
   <!-- font family -->
   <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
   <!-- end font family -->
   <link rel="stylesheet" href="{% static 'css/3dslider.css' %}" />
   <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
   <link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
  <style>
.dropbtn {
  
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 10;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {color: #ddd;}

.show {display: block;}
</style>
<script>
/* When the user clicks on the button, 
toggle between hiding and showing the dropdown content */
function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>


   {% endblock header %}
   {% block css %}


   {% endblock %}
   {% block base_content %}


     <script>
       $(window).on('load',function(){

     })
       </script>

      <!-- LOADER -->
      <div id="preloader">
         <img class="preloader" src="{% static 'images/loading-img.gif'%}" alt="">
      </div>
      <!-- END LOADER -->

      <section id="top">
         <header>
            <div class="container">
               <div class="header-top">
                  <div class="row">
                     <div class="col-md-6">
                        <div class="full">
                           <div class="logo">
                              <!-- <span style="font-weight: bold; font-family: Arial, sans-serif; color:#fff; font-size:30px;">Naval Intranet Portal</span> -->
                              <a href="index.html"><img src="{% static 'images/navy_logo.png' %}" alt="#" width="100%" height="20%"/></a>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-6">
                        <div class="right_top_section">

                           <ul class="social-icons pull-left">
                              <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                              <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                              <li><a class="youtube" href="#"><i class="fa fa-youtube-play"></i></a></li>
                              <li><a class="pinterest" href="#"><i class="fa fa-pinterest-p"></i></a></li>
                           </ul>

                        

                               {% if request.user.is_authenticated %}
                                 
                                 <div class="dropdown">
  <a onclick="myFunction()" class="dropbtn">{{user.email}}</a>
  <div id="myDropdown" class="dropdown-content">
    <a href="#home">Loout</a>
   
  </div>
</div>
        Logout{% endif %}            
                              <!-- <li class="login-modal">
                                 <a href="#" class="login"><i class="fa fa-user"></i>Login</a>
                              </li> -->
                              <!-- <li>

                                 <div class="cart-option">
                                    <a href="#"><i class="fa fa-shopping-cart"></i>Register</a>
                                 </div>
                              </li> -->
                           </ul>

                        </div>
                     </div>
                  </div>
               </div>
                {% include 'application/nav.html' %}
            </div>
         </header>
         <div class="full-slider">
           {% include 'application/slider.html' %}
            <!-- /.carousel -->
            <div class="news">
               <div class="container">
                  <div class="heading-slider">
                     <p class="headline"><i class="fa fa-star" aria-hidden="true"></i> Top Headlines :</p>
                     <!--made by vipul mirajkar thevipulm.appspot.com-->

                       <!-- <a href="" id="news_listss" class="typewrite" data-period="2000"> <table><tr id="news_listss"></tr></table></a> -->
                       <marquee class="w-100 h5 pb-0 pt-1" behavior="scroll" direction="left"
                           onmouseover="this.setAttribute('scrollamount', 3, 0);"
                           onmouseout="this.setAttribute('scrollamount', 2, 0);" id="news_list"><table><tr id="news_listss"></tr></table>

                  </marquee>



                  </div>
               </div>
            </div>
         </div>
      </section>

      <section id="contant" class="contant" >
        
         <div class="container">
            <div class="row">
              <div class="col-lg-12 col-sm-4 col-xs-4">
              <h4 style="border-bottom:1px dotted grey; background-color: #000066; color:#fff; font-weight:bold"><img src= "{% static 'images/enew.png' %}" width="5%" height
                        ="5%"> {{menu_detail}}</h4>
                      </div>
               <div class="col-lg-4 col-sm-4 col-xs-4">

                
                  <aside id="sidebar" class="left-bar">
                    <script>
                      
                      megafolder(`aa_{{folder_id}},box`)
                  
                    </script>
                   
 

                      <ul id="myUL">
                        
                        {% for folder_data in folder_objs%}
                        <li><input type="checkbox" id="aa_{{folder_data.id}}" value="{{folder_data.id}}" name="megafol" class="box" onclick="megafolder(this.id,this.className)" ><img src="{% static 'images/foldericon.jpg' %}" width="10%" height="10%" id="img_{{folder_data.id}}">{{folder_data.menu_name}}
                         <ul class="nested" id="nested_{{folder_data.id}}">
                            </ul>
                       
                        </li>

                        {% endfor %}
                        
                        
                      </ul>

                          <style>
                          ul, #myUL {
                            list-style-type: none;
                          }

                          #myUL {
                            margin: 0;
                            padding: 0;
                            border-left: 1px dotted #aaa;
                          }

                          .box {
                            cursor: pointer;
                            -webkit-user-select: none; /* Safari 3.1+ */
                            -moz-user-select: none; /* Firefox 2+ */
                            -ms-user-select: none; /* IE 10+ */
                            user-select: none;
                          }

                          .box::before {
                            content: "\2610";
                            color: black;
                            display: inline-block;
                            margin-right: 6px;
                          }

                          .check-box::before {
                            content: "\2611"; 
                            color: dodgerblue;
                          }

                          .nested {
                            display: none;
                            padding-left: 18px;
                            border-left: 1px dotted #aaa;
                          }

                          .actives {
                            display: block;
                          }
                          </style>

                          <script>
                          var toggler = document.getElementsByClassName("box");
                          var i;

                          for (i = 0; i < toggler.length; i++) {
                            toggler[i].addEventListener("click", function() {
                             
                             var chkbx  =   document.getElementById(this.id).checked
                             if (chkbx == true)
                             {
                                this.parentElement.querySelector(".nested").classList.add("actives");
                              this.classList.toggle("check-box");
                              // var ee = $(this).parents('li').children('input[type=checkbox]').prop('checked');
                              // alert(ee)
                             }
                             else{
                                this.parentElement.querySelector(".nested").classList.remove("actives");
                              this.classList.toggle("check-box");
                             }
                              
                            });
                          }
                          </script>
                          <script>
                          var toggler = document.getElementsByClassName("box");
                          var i;


                          for (i = 0; i < toggler.length; i++) {
                            toggler[i].addEventListener("click", function() {
                              //alert(this)
                              //alert(toggler.length)
                              // this.parentElement.querySelector(".nested").classList.toggle("actives");
                              // this.classList.toggle("check-box");
                            });
                          }

                           

                          
                          function megafolder(idd,cls)

                          {
                            
                             var chkbx  =   document.getElementById(idd).checked
                             


                             //var menubar  = $('#menu_bars').val()
                             var toggler = document.getElementsByClassName("cls");
                             var i;
                             var id_obj = idd.split("_")
                             var id_ob = id_obj[1]
                             var nested = '#nested_'+id_ob
                             url =   '/application/application_list/'+id_ob+'/',
                             //alert(idd)
                                   $.ajax({
                                            url:  '/application/application_list/'+id_ob+'/',
                                            type: "GET",
                                            dataType: "json",
                                            //data:{"menubar":menubar},
                                             success: function(response){
                                               //alert(JSON.stringify(response))
                                               $(nested).empty()
                                               $('#policy_namee').empty()
                                               for (var i=0; i<response.length;i++)
                                              {
                                               if (chkbx == true)
                                                  {
                                               $(nested).append(`<li style="border-bottom:1px dotted black;"><input type="checkbox" id="bb_${response[i]['id']}" name="megafols" class="box" onclick="megafolders(this.id,this.className)"><img src="{% static 'images/foldericon.jpg' %}" width="10%" height="10%" id="img_{{folder_data.id}}">${response[i]['menu_name']}<ul class="nested" id="nested_${response[i]['id']}" style="border-top:1px dotted black;">
                                               </ul></li>`)
                                            }
                                               $('#policy_namee').append(`<tr><td><img src="{% static 'images/foldericon.jpg' %}" width="10%" height="10%" id="img_{{folder_data.id}}">${response[i]['menu_name']}</td><td></td><td>${response[i]['added_on']}</td></tr>`)
                                            }
                                               //alert(JSON.stringify(response))

                                             }
                                          })
                                    

                          }


                          function megafolders(idd,cls)
                          {
                             var chkbx  =   document.getElementById(idd).checked
                             
                             var toggler = document.getElementsByClassName("cls");
                             var i;
                             var id_obj = idd.split("_")
                             var id_ob = id_obj[1]
                             var nested = '#nested_'+id_ob
                             var id = document.getElementById(idd).parentElement.querySelector(".nested").classList.add("actives");
                             //url =   '/application/application_list/'+id_ob+'/',

                            
                                   $.ajax({
                                            url:  '/application/application_list/'+id_ob+'/',
                                            type: "GET",
                                            dataType: "json",
                                            //data:{"menubar":menubar},
                                             success: function(response){
                                               $('#policy_namee').empty()
                                               $(nested).empty()
                                               for (var i=0; i<response.length;i++)
                                              { if (chkbx == true)
                                                  {
                                              $(nested).append(`<li style="border-bottom:1px dotted black;"><input type="checkbox" id="bb_${response[i]['id']}" name="megafols" class="box" onclick="megafolders(this.id,this.className)"><img src="{% static 'images/foldericon.jpg' %}" width="10%" height="10%" id="img_{{folder_data.id}}">${response[i]['menu_name']}<ul class="nested" id="nested_${response[i]['id']}" style="border-top:1px dotted black;">
                                               </ul></li>`)
                                           }
                                              $('#policy_namee').append(`<tr><td><img src="{% static 'images/foldericon.jpg' %}" width="10%" height="10%" id="img_{{folder_data.id}}">${response[i]['menu_name']}</td><td></td><td>${response[i]['added_on']}</td></tr>`)
                                              }
                                           }
                                        })
                               
                          }




                          </script>

                  </aside>
                  

                

               </div>
               
               <div class="col-lg-8 col-sm-8 col-xs-8">
                  <div class="news-post-holder">
                    

                     <div class="news-post-widget" id="post_widget_data">

                      <table width="100%" border="1">
                        <thead><tr><th width="20%">Folder Name</th><th width="20%">Folder Size</th><th width="30%">Folder Date</th></tr></thead>
                        <tbody id="policy_namee">
                          {% for policy_obj in folder_obj %}
                          <tr><td ><img src="{% static 'images/foldericon.jpg' %}" width="10%" height="10%" id="">{{policy_obj.menu_name}}</td><td></td><td>{{policy_obj.added_on|date:"m-d-Y"}}</td></tr>{% endfor %}</tbody>
                          

                      </table>


                        <!-- <button class="tablink" onclick="openPage('NHQ', this, 'orange')">NHQ</button>
                        <button class="tablink" onclick="openPage('ENC', this, 'orange')" id="defaultOpen">ENC</button>
                        <button class="tablink" onclick="openPage('SNC', this, 'orange')">SNC</button>
                        <button class="tablink" onclick="openPage('WNC', this, 'orange')">WNC</button>
                        <button class="tablink" onclick="openPage('ANC', this, 'orange')">ANC</button>

                        <div id="NHQ" class="tabcontent">
                           <h3>NHQ</h3>
                           <p>NHQ is where the heart is..</p><p>NHQ is where the heart is..</p><p>Home is where the heart is..</p><p>Home is where the heart is..</p><p>Home is where the heart is..</p>
                        </div> -->

                        <!-- <div id="ENC" class="tabcontent">
                         <h3>News</h3>
                         <p>Some news this fine day!</p>
                        </div> -->

                       <!--  <div id="SNC" class="tabcontent">
                         <h3>Contact</h3>
                         <p>Get in touch, or swing by for a cup of coffee.</p>
                        </div> -->

                      <!-- <div id="ANC" class="tabcontent">
                       <h3>About</h3>
                       <p>Who we are and what we do.</p>
                      </div> -->

                    </div>
                  </div>
                  
                 
                  
                  

               </div>
            </div>
         </div>
      </section>
      

      


     




 {% include 'application/footer.html' %}


     
     
      <!-- ALL JS FILES -->


</html>
{% endblock base_content %}

{% block htmljs %}


{% endblock htmljs %}
