{% load static %}

<footer id="footer" class="footer" >


   <div class="footer-bottom">
      <div class="container">
         <p align="center">Copyright © 2020 DIT,IHQ MoD(N).</p>
      </div>
   </div>
</footer>

      <a href="#home" data-scroll class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>
      <script src="{% static 'js/front.js' %}"></script>
      <script src="{% static 'js_css/bootstrap.min.js' %}"></script>
      <script src="{% static 'js_css/popper.min.js' %}"></script>
      <script src="{% static 'js_css/jquery.min.js' %}"></script>
       <script src="{% static 'aos.js' %}"></script>


      <script src="{% static 'vendor/waypoints/lib/jquery.waypoints.min.js' %}"> </script>
      <script src="{% static 'vendor/jquery.counterup/jquery.counterup.min.js' %}"> </script>
      <script src="{% static 'vendor/owl.carousel/owl.carousel.min.js' %}"></script>
      <script src="{% static 'vendor/owl.carousel2.thumbs/owl.carousel2.thumbs.min.js' %}"></script>
      <script src="{% static 'vendor/jquery.parallax-1.1.3.js' %}"></script>
      <script src="{% static 'vendor/bootstrap-select/js/bootstrap-select.min.js' %}"></script>
      <script src="{% static 'vendor/jquery.scrollto/jquery.scrollTo.min.js' %}"></script>
      <link rel="stylesheet" href="{% static 'css/custom-scroll.css' %}">
