{% load static %}
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
               <!-- Indicators -->
               <!-- <ol class="carousel-indicators">
                  <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="2"></li>
               </ol> -->
               <!-- Wrapper for slides -->
               <div class="carousel-inner" role="listbox">
                  <!-- First slide -->
                  <div class="item active knowledgebluein" data-ride="carousel" data-interval="5000">
                    <!-- <video autoplay muted loop id="myVideo" controls="controls" width="100%">
                    <source src="{% static 'images/indiannavy.mp4' %}" type="video/mp4">
                    <source src="mov_bbb.ogg" type="video/ogg">
                                      </video> -->
                     <div class="carousel-caption">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"></div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                           <div class="slider-contant" data-animation="animated fadeInRight">
                              <!-- <h3  class ="" style=""><br> <span class="color-yellow chrome">Har kaam desh ke naam</span></h3> -->
                              <!-- <h4  class ="chrome">Covid-19 Pandemic.
                              </h4> -->
                              <button class="btn btn-primary btn-lg">Read More</button>
                           </div>
                        </div>
                     </div>
                  </div><script>
if ( navigator.platform.indexOf('Win') != -1 ) {
  window.document.getElementById("wrapper").setAttribute("class", "windows");
} else if ( navigator.platform.indexOf('Mac') != -1 ) {
  window.document.getElementById("wrapper").setAttribute("class", "mac");
}
</script>
                  <!-- /.item -->
                  <!-- Second slide -->
                  <!-- <div class="item skyblue" data-ride="carousel" data-interval="5000">
                     <div class="carousel-caption">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"></div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                           <div class="slider-contant" data-animation="animated fadeInRight">
                              <h3  class ="" style=""><br> <span class="color-yellow chrome">Indian Navy aspirations</span></h3>

                              <button class="btn btn-primary btn-lg">Read More</button>
                           </div>
                        </div>
                     </div>
                  </div> -->
                  <!-- /.item -->
                  <!-- Third slide -->
                  <!-- <div class="item darkerskyblue" data-ride="carousel"> -->
                   <!--  <video autoplay muted loop id="myVideo" controls="controls" width="100%">
  <source src="{% static 'images/indiannavy.mp4' %}" type="video/mp4">
  <source src="mov_bbb.ogg" type="video/ogg">
                    </video> -->
                    <!--  <div class="carousel-caption">
                        <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12"></div>
                        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                           <div class="slider-contant" data-animation="animated fadeInRight">
                              <h3 style=" font: bold 52px Helvetica, Arial, Sans-Serif;
                               text-shadow: 1px 1px #fe4902,
                                            2px 2px #fe4902,
                                            3px 3px #fe4902;
                               -webkit-transition: all 0.12s ease-out;
                               -moz-transition:    all 0.12s ease-out;
                               -ms-transition:     all 0.12s ease-out;
                               -o-transition:      all 0.12s ease-out;transform-style: preserve-3d;
                              transform: rotateX(-45deg) rotateY(10deg);text-shadow: 0 1px 0 #ccc,
                                           0 2px 0 #c9c9c9,
                                           0 3px 0 #bbb,
                                           0 4px 0 #b9b9b9,
                                           0 5px 0 #aaa,
                                           0 6px 1px rgba(0,0,0,.1),
                                           0 0 5px rgba(0,0,0,.1),
                                           0 1px 3px rgba(0,0,0,.3),
                                           0 3px 5px rgba(0,0,0,.2),
                                           0 5px 10px rgba(0,0,0,.25),
                                           0 10px 10px rgba(0,0,0,.2),
                                           0 20px 20px rgba(0,0,0,.15);">If you Don’t Practice<br>You <span class="color-yellow">Don’t Derserve</span><br>to win!</h3>
                              <p>You can make a case for several potential winners of<br>the expanded European Championships.</p>
                              <button class="btn btn-primary btn-lg">Button</button>
                           </div>
                        </div>
                     </div> -->
                  </div>
                  <!-- /.item -->
               </div>
               <!-- /.carousel-inner -->
               <!-- Controls -->
               <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
               <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
               <span class="sr-only">Previous</span>
               </a>
               <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
               <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
               <span class="sr-only">Next</span>
               </a>
            </div>
