{% load static %}
<section id="top"     class="header" style="margin-top: 5.5% !important;  z-index:9911; ">
	<div class="" style="position:absolute; z-index:20000; margin-top:-9.8vh; margin-left:20px; ">
		<img id="cnss_order_id" class="indian_facebook" src="{% static 'images/COMMAND-ICON/Indian-Navy_1.png' %}">
	</div>
	 <div class="container" >
			<div class="header-top" style="height:auto; !important">




						<div class="col-lg-12">
							 <!-- <div class="right_top_section"> -->
							 <ul class="exo-menu " style="font-family:WhitneyHTF-Book ;">
                 <li><a class="" style="font-family:WhitneyHTF-Book ; font-weight:bold" href="/homesmain/"> Home</a></li>
                 <li class="drop-down"><a href="#" style="font-family:WhitneyHTF-Book ; font-weight:bold"> Applications</a>

                   <ul class="drop-down-ul animated fadeIn" style="font-family:WhitneyHTF-Book ; ">
                   <li class="flyout-right"><a href="https://cnsforum.indiannavy.mil:43899/Pages/Home.aspx" target="_blank" style="font-family:WhitneyHTF-Book ;">CNS Discussion Forum</a>

                   </li>

                   <li class="flyout-left"><a href="http://intranet.indiannavy.mil/e-MSG" target="_blank" style="font-family:WhitneyHTF-Book ;">e-General Messages</a><!--Flyout Left-->

                   </li>

                   <li class="flyout-left"><a href="http://159.12.45.120/nhqnotice/" style="font-family:WhitneyHTF-Book ; " target="_blank">NHQ Notices</a></li>
                   <li class="flyout-left"><a href="http://intranet.indiannavy.mil/Information/INS-India-Daily-Orders" target="_blank" style="font-family:WhitneyHTF-Book ; ">INS India</a></li>
                   <li class="flyout-left"><a href="https://eoffice.indiannavy.mil/Paperless/signin.jsp?" target="_blank" style="font-family:WhitneyHTF-Book ; ">eOffice</a></li>
                   <li class="flyout-left"><a href="https://eseva.mil/FBTP/Web/Loginpage.aspx" target="_blank" style="font-family:WhitneyHTF-Book ; ">eSeva</a></li>
                   <li class="flyout-left"><a href="https://dgmsportal.indiannavy.mil:505/" target="_blank" style="font-family:WhitneyHTF-Book ; ">Covid 19</a></li>
                   <li class="flyout-left"><a href="http://159.12.45.115/NavyCalendar/" target="_blank" style="font-family:WhitneyHTF-Book ; ">Navy Calendar</a></li>
									 <li><a href="#" style="font-family:WhitneyHTF-Book ; ">Others</a></li>

                   </ul>

                 </li>

                 <li class="drop-down"><a href="#" style="font-family:WhitneyHTF-Book ; font-weight:bold"> Knowledge</a>

                   <ul class="drop-down-ul animated fadeIn" style="font-family:WhitneyHTF-Book ; ">
                   <li class="flyout-right"><a href="http://intranet.indiannavy.mil/Services/Policy-Letters?folderId=29411&view=gridview&pageSize=10" target="_black
										 " style="font-family:WhitneyHTF-Book ;">Policy</a><!--Flyout Right-->

                   </li>

                   <li class="flyout-left"><a href="http://intranet.indiannavy.mil/Knowledge/Organisation-Generated/Publications" target="_blank" style="font-family:WhitneyHTF-Book ;">Publication</a><!--Flyout Left-->

                   </li>
                   <li><a href="http://intranet.indiannavy.mil/Knowledge/Organisation-Generated/Navy-Orders?folderId=6597&view=gridview&pageSize=10"  target="_blank" style="font-family:WhitneyHTF-Book ; ">Navy Orders</a></li>
                   <li><a href="http://intranet.indiannavy.mil/Knowledge/Organisation-Generated/Navy-Instructions?folderId=6424&view=gridview&pageSize=10" target="_blank" style="font-family:WhitneyHTF-Book ; ">Navy Instructon</a></li>

                   <li><a href="http://intranet.indiannavy.mil/Services/Guidelines?folderId=7008&view=gridview&pageSize=10" target="_blank" style="font-family:WhitneyHTF-Book ; ">Guidelines</a></li>
                   <li><a href="#" style="font-family:WhitneyHTF-Book ; ">Others</a></li>

                   </ul>

                 </li>
                 <!-- <li class="blog-drop-down"><a href="#" style="font-family:WhitneyHTF-Book ; font-weight:bold">Services </a></li> -->

                 <li class="drop-down"><a href="#" style="font-family:WhitneyHTF-Book ; font-weight:bold"> Other Sites</a>

                   <ul class="drop-down-ul animated fadeIn" style="font-family:WhitneyHTF-Book ; ">
                   <li class="flyout-right"><a href="/other_sites/" style="font-family:WhitneyHTF-Book ;">Other Navy Sites</a><!--Flyout Right-->

                   </li>


                   </ul>

                 </li>

                 <a href="#" class="toggle-menu visible-xs-block">|||</a>
               </ul>


						</div>

			</div>

	 </div>
</section>
