
{% extends "application/base2.html" %}

{% load static %}
{% block header %}
<!DOCTYPE html>
<html lang="en">
   <!-- Basic -->
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <!-- Mobile Metas -->
   <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
   <!-- Site Metas -->
   {% block title %}{% endblock %}
   <meta name="keywords" content="">
   <meta name="description" content="">
   <!---------------------------babu slider---->
   <link rel="stylesheet" href="{% static 'vendor/owl.carousel/assets/owl.carousel.css' %}">
   <link rel="stylesheet" href="{% static 'vendor/owl.carousel/assets/owl.theme.default.css' %}">


   <link rel="stylesheet" href="{% static '@font-face/StyleSheet.css' %}">


   <!-- <link rel="stylesheet" href="{% static 'css/style.default.css' %}"> -->
   <!---------------->
   <style>


    .primary-nav {
    text-align: center;
    border-radius: 4px;
    overflow: hidden; /* [1] */
}

        .primary-nav a {
            padding: 1em;
            background-color: #BADA55;
            color: #fff;
            font-weight: bold;
            text-decoration: none;
        }

        .primary-nav a:hover {
            background-color: #A3C43B;
        }


@import url({% static 'fonts/text_fonts/candal.css'%});
@import url({% static 'fonts/text_fonts/dafoe.css'%});
@import url({% static 'fonts/text_fonts/monton.css'%});
@import url({% static 'fonts/text_fonts/righteous.css'%});

@import url({% static 'fonts/text_fonts/titillium.css'%});
@import url({% static 'fonts/whitney-medium.otf'%});

@import url({% static 'fonts/text_fonts/marker.css'%});
   </style>
   <meta name="author" content="">
   <!-- Site Icons -->
   <link rel="shortcut icon" href="" type="image/x-icon" />
   <link rel="apple-touch-icon" href="">
   <!-- <script src="{% static 'js/commander.js' %}"></script> -->
   <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
   <!-- Site CSS -->
   <link rel="stylesheet" href="{% static 'style.css' %}">
   <!-- Colors CSS -->
   <link rel="stylesheet" href="{% static 'css/colors.css' %}">
   <!-- ALL VERSION CSS -->
   <link rel="stylesheet" href="{% static 'css/versions.css' %}">
   <!-- Responsive CSS -->
   <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
   <!-- Custom CSS -->
   <link rel="stylesheet" href="{% static 'css/custom-scroll.css' %}">
   <link rel="stylesheet" href="{% static 'css/custom1.css' %}">
   <link rel="stylesheet" href="{% static 'slider/style.css' %}">

   <!-- font family -->
    <!-- end font family -->
   <link rel="stylesheet" href="{% static 'css/3dslider.css' %}" />




  <!--------------------------slider and new Features---------------->
         <link href="{% static 'themes/css/main.css' %}" rel="stylesheet"/>

      <!-- scripts -->

   <link rel="stylesheet" href="{% static 'aos.css' %}">

      <!-- ALL PLUGINS -->

   <script src="{% static 'aos.js' %}"></script>
   <script src="{% static 'js_css/bootstrap.min.js' %}"></script>
   <script src="{% static 'js_css/popper.min.js' %}"></script>
   <script src="{% static 'js_css/jquery.min.js' %}"></script>







  <!-------------------------------------------------------------------------------------->

  <style>
.dropbtn {

  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {

}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 10;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {color: #ddd;}

.show {display: block;}



/*------------------------------------------*/

.nav {
    display: -ms-flexbox;
    display: contents !important;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.text-dark{
  color:#000 !important;
}

.text-white{
  color: #fff !important;
}

.bg-white{
  background: white !important;
}

.onHover:hover{
  background:#2b2b2b91 !important;

}

/* ========sticky========= */


</style>


<script>
  $('.header2').mouseover(function()
  {
    alert("ok")
  })
$(document).ready(function(){
  $("")
})
</script>

<script>

/* When the user clicks on the button,
toggle between hiding and showing the dropdown content */
function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>


   {% endblock header %}
   {% block css %}


   {% endblock %}
   {% block base_content %}


     <script>
       $(window).on('load',function(){

     })
     function headerchange()
     {
       var headertag = $('.ship-img').show()
     }
     function headerimagehide()
     {
       var headertag = $('.ship-img').hide()
     }
       </script>
       <!-------------------------------------------slider-------------------->

    <!-------------------------------------------slider-------------------->

      <!-- LOADER -->
     <div id="preloader">
         <img class="preloader" src="{% static 'images/loading-img.gif'%}" alt="">
      </div>
      <!-- END LOADER -->

      <!-- <section id="tops" class="header2 onHover2" onmouseover="headerchange()" onmouseout="headerimagehide()" style="background-image:url({% static 'images/banner/Banner-top-v6.jpg' %}); background-repeat:no-repeat; background-size:cover; z-index:9911; "> -->
      <section id="tops" class="header2 onHover2" onmouseover="headerchange()" onmouseout="headerimagehide()" style=" z-index:9911; ">
        <!-- <div class="overlay3">
          </div> -->

            <div class="container-fluid" >
               <div class="header-top">
                  <div class="row">

                    <div class="col-md-8">
                      <img class="pt-3" style="width: 120% !important;" src="{% static '/images/banner/Banner-top-v8.png'%}">
                    </div>
                    <!-- <div class="col-md-8">
                      <img class="ship-img W-100" style="width: 66% !important; display: none; " src="{% static '/images/logo/NIP.png'%}">
                    </div> -->
                     <!-- <div class="col-md-5">
                        <div class="full">
                           <div class="logo mt-1 pt-1">

                              <span style="font-weight: bold;  color:#fff; font-size:28px;" class="mt-2 ml-2"> <img class="logoicon" src="{% static 'images/logo/NIP.png'%}"></span>

                           </div>
                        </div>
                     </div> -->
                     <div class="col-md-4">
                        <div class="right_top_section">
                          <!-- <img src="{% static 'images/gif/logo.jpg'%}" > -->






                               <a href="#" class="dropbtn"><img style="width:50px; height:50px;" src="{% static 'images/icon/WNC.png' %}"></a>

                               <a href="#" class="dropbtn"><img style="width:50px; height:50px;" src="{% static 'images/icon/ENC.png' %}"></a>
                               <a href="#" class="dropbtn"><img style="width:50px; height:50px;" src="{% static 'images/icon/SNC.png' %}"></a>
                               <a href="#" class="dropbtn"><img style="width:50px; height:50px;" src="{% static 'images/icon/ANC.png' %}"></a>


                                 <div class="dropdown">
                                    <a onclick="myFunction()" class="dropbtn">{{user.name}}</a>

                                <div id="myDropdown" class="dropdown-content"><input type="hidden" id="userId" value="{{user.name}}">
                                  <a href="#home">Logout</a>

                                </div>
                        </div>

                              <!-- <li class="login-modal">
                                 <a href="#" class="login"><i class="fa fa-user"></i>Login</a>
                              </li> -->
                              <!-- <li>

                                 <div class="cart-option">
                                    <a href="#"><i class="fa fa-shopping-cart"></i>Register</a>
                                 </div>
                              </li> -->


                        </div>
                     </div>
                  </div>
               </div>

            </div>
         </section>

         <section id="top"     class="header onHover" style="margin-top: 5.5% !important;">

            <div class="container" >
               <div class="header-top" style="height:auto; !important">




                     <div class="col-lg-12">
                        <!-- <div class="right_top_section"> -->
                        <ul class="exo-menu " style="font-family:WhitneyHTF-Book ;">
                          <li><a class="" style="font-family:WhitneyHTF-Book ; font-weight:bold" href="#"> Home</a></li>
                          <li class="drop-down"><a href="#" style="font-family:WhitneyHTF-Book ; font-weight:bold"> Applications</a>
                            <!--Drop Down-->
                            <ul class="drop-down-ul animated fadeIn" style="font-family:WhitneyHTF-Book ; ">
                            <li class="flyout-right"><a href="#" style="font-family:WhitneyHTF-Book ;">e-PEHCHAAN</a><!--Flyout Right-->
                              <!-- <ul class="animated fadeIn">
                                <li><a href="#">Mobile</a></li>
                                <li><a href="#">Computer</a></li>
                                <li><a href="#">Watch</a></li>
                              </ul> -->
                            </li>

                            <li class="flyout-left"><a href="#" style="font-family:WhitneyHTF-Book ;">NCMIS</a><!--Flyout Left-->
                              <!-- <ul class="animated fadeIn">
                                <li><a href="#">Mobile</a></li>
                                <li><a href="#">Computer</a></li>
                                <li><a href="#">Watch</a></li>
                              </ul> -->
                            </li>

                            <li><a href="#" style="font-family:WhitneyHTF-Book ; ">INBA</a></li>

                            </ul>
                            <!--//End drop down-->

                          </li>
                          <li class="blog-drop-down" ><a href="#" style="font-family:WhitneyHTF-Book ; font-weight:bold"> Knowledge</a>
                            <div class="Blog animated fadeUp shadow">

                              <!-- <div class="col-md-12">
                                <div class="blog-des">
                                  <h4 class="blog-title">Organisation generated</h4>
                                  <div class="col-md-3">
                                    <h4 class="row mega-title">Policy Letters</h4>
                                  </div>
                                  <div class="col-md-3">
                                    <h4 class="row mega-title">Publication</h4>
                                  </div>
                                  <div class="col-md-3">
                                    <h4 class="row mega-title">Navy Orders</h4>
                                  </div>
                                  <div class="col-md-3">
                                    <h4 class="row mega-title">navy Instructions</h4>
                                  </div>
                                </div>
                              </div> -->


                              <div class="col-md-12">
                                <div class="blog-des">
                                  <div class="col-md-4 col-lg-4 col-xl-4">

                                    <div class="card border bg-white" style="border-radius: 5px !important;">
                                      <div class="card-body">
                                        <img class="w-100" width="120%" height="90%"  src="{% static 'images/banner/km.jpg' %}"/>
                                        <!-- <h3 class="text-dark p-2 border-bottom">Organisation generated</h3> -->
                                        <!-- <ul style="line-height:5pxl;font-family:WhitneyHTF-Book ; ">

                                          <li class="text-dark pl-3 pr-3">Enter the search criteria into the Search text box and then click the Search icon or strike the Enter key.
                                          </li>
                                          <li class="text-dark pl-3 pr-3">Enter the search criteria into the Search text box and then click the Search icon or strike the Enter key.
                                          </li>

                                        </ul> -->
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-md-4">
                                    <h4 class="blog-title">User generated</h4>
                                    <h4 class="row mega-title " >  <i class="fa fa-book pr-3"></i> Policy</h4>
                                    <h4 class="row mega-title" >  <i class="fa fa-pencil pr-3"></i> Publication</h4>
                                    <h4 class="row mega-title " >  <i class="fa fa-laptop pr-3"></i> Navy Instructions</h4>
                                    <h4 class="row mega-title " >  <i class="fa fa-envelope pr-3"></i> Guidelines</h4>
                                    <h4 class="row mega-title " >  <i class="fa fa-photo pr-3"></i> Standards</h4>
                                    <h4 class="row mega-title " >  <i class="fa fa-home pr-3"></i> BRS</h4>
                                    <h4 class="row mega-title " >  <i class="fa fa-briefcase pr-3"></i> Navy orders</h4>

                                    <h4 class="row mega-title " >  <i class="fa fa-cogs pr-3"></i> Nhq e-Library</h4>


                                  </div>
                                  <div class="col-md-4">
                                    <h4 class="blog-title">Organisation generated</h4>
                                    <h4 class="row mega-title " >  <i class="fa fa-globe pr-3"></i> e-Library-NHQ</h4>
                                    <h4 class="row mega-title" >  <i class="fa fa-mobile pr-3"></i> e-Library</h4>
                                    <h4 class="row mega-title " >  <i class="fa fa-arrows-h pr-3"></i> Articles of interest</h4>
                                    <h4 class="row mega-title " >  <i class="fa fa-desktop pr-3"></i> Lessons Learnt</h4>
                                    <h4 class="row mega-title " >  <i class="fa fa-paint-brush pr-3"></i> Research papers and Dissertations</h4>
                                    <h4 class="row mega-title " >  <i class="fa fa-user pr-3"></i> wiki</h4>



                                  </div>

                                </div>
                              </div>
                              <!-- <div class="col-md-12">
                                <div class="blog-des">
                                  <h4 class="blog-title">Organisation generated</h4>
                                  <div class="col-md-3">
                                    <h4 class="row mega-title">Policy Letters</h4>
                                  </div>
                                  <div class="col-md-3">
                                    <h4 class="row mega-title">Publication</h4>
                                  </div>
                                  <div class="col-md-3">
                                    <h4 class="row mega-title">Navy Orders</h4>
                                  </div>
                                  <div class="col-md-3">
                                    <h4 class="row mega-title">navy Instructions</h4>
                                  </div>
                                  <div class="col-md-3">
                                    <h4 class="row mega-title">Guidelines</h4>
                                  </div>
                                  <div class="col-md-3">
                                    <h4 class="row mega-title">Standards</h4>
                                  </div>
                                  <div class="col-md-3">
                                    <h4 class="row mega-title">Brs</h4>
                                  </div>
                                  <div class="col-md-3">
                                    <h4 class="row mega-title">Wesee</h4>
                                  </div>




                                </div>
                              </div> -->




                            </div>
                          </li>
                          <li class="blog-drop-down"><a href="#" style="font-family:WhitneyHTF-Book ; font-weight:bold">Services </a></li>


                          <li class="blog-drop-down" ><a href="#" style="font-family:WhitneyHTF-Book ; font-weight:bold"> Other Sites</a>
                            <div class="Blog animated fadeIn">
                              <div class="col-md-12">
                                <div class="blog-des">
                                  <h4 class="blog-title">Naval headquarters</h4>
                                  <div class="col-md-4">
                                    <h4 class="row mega-title">DGMS Navy</h4>
                                  </div>
                                  <div class="col-md-4">
                                    <h4 class="row mega-title">DNT</h4>
                                  </div>
                                  <div class="col-md-4">
                                    <h4 class="row mega-title">Dte Of Standardisation</h4>
                                  </div>
                                  <div class="col-md-4">
                                    <h4 class="row mega-title">DOP</h4>
                                  </div>
                                  <div class="col-md-4">
                                    <h4 class="row mega-title">DPS</h4>
                                  </div>
                                  <div class="col-md-4">
                                    <h4 class="row mega-title">DQA Navy</h4>
                                  </div>
                                  <div class="col-md-4">
                                    <h4 class="row mega-title">IR&FC</h4>
                                  </div>
                                  <div class="col-md-4">
                                    <h4 class="row mega-title">Wesee</h4>
                                  </div>
                                  <div class="col-md-4">
                                    <h4 class="row mega-title">Ship Building</h4>
                                  </div>



                                </div>
                              </div>
                              <div class="col-md-12">

                                <div class="blog-des">
                                  <h4 class="blog-title">WNC</h4>
                                  <div class="col-md-4">
                                    <h4 class="row mega-title">HQWNC</h4>
                                  </div>
                                  <div class="col-md-4">
                                    <h4 class="row mega-title">NavPay</h4>
                                  </div>
                                  <div class="col-md-4">
                                    <h4 class="row mega-title">CABS</h4>
                                  </div>
                                  <div class="col-md-4">
                                    <h4 class="row mega-title">Asvini</h4>
                                  </div>
                                  <div class="col-md-4">
                                    <h4 class="row mega-title">DPS</h4>
                                  </div>
                                  <div class="col-md-4">
                                    <h4 class="row mega-title">DQA Navy</h4>
                                  </div>
                                  <div class="col-md-4">
                                    <h4 class="row mega-title">IR&FC</h4>
                                  </div>
                                  <div class="col-md-4">
                                    <h4 class="row mega-title">Wesee</h4>
                                  </div>
                                  <div class="col-md-4">
                                    <h4 class="row mega-title">Ship Building</h4>
                                  </div>



                                </div>
                              </div>

                              <div class="col-md-12">

                                <div class="blog-des">
                                  <h4 class="blog-title">ENC</h4>
                                  <div class="col-md-4">
                                    <h4 class="row mega-title">HQENC</h4>
                                  </div>
                                  <div class="col-md-4">
                                    <h4 class="row mega-title">Nd Vizag</h4>
                                  </div>
                                  <div class="col-md-4">
                                    <h4 class="row mega-title">Kalyani</h4>
                                  </div>
                                  <div class="col-md-4">
                                    <h4 class="row mega-title">Circars</h4>
                                  </div>





                                </div>
                              </div>

                              <div class="col-md-12">

                                <div class="blog-des">
                                  <h4 class="blog-title">SNC</h4>
                                  <div class="col-md-4">
                                    <h4 class="row mega-title">HQSNC</h4>
                                  </div>
                                  <div class="col-md-4">
                                    <h4 class="row mega-title">FOSt</h4>
                                  </div>
                                  <div class="col-md-4">
                                    <h4 class="row mega-title">INST</h4>
                                  </div>
                                  <div class="col-md-4">
                                    <h4 class="row mega-title">Circars</h4>
                                  </div>





                                </div>
                              </div>



                            </div>
                          </li>
                          <li class="blog-drop-down" >

                          </li>
                          <li class="blog-drop-down" >

                          </li>



                        </ul>


                     </div>

               </div>

            </div>
         </section>

      <section id="top" style="z-index:-999; ">
        <div class="full-slider " style="z-index:-999; margin-top:0px;border:none;">
          <div class="hero-area" style="z-index:-999; ">
            <div class="hero-slideshow owl-carousel" >

            <!-- Single Slide -->
              <div class="single-slide bg-img" style="background-image: url({% static 'images/banner/NIPbg3.jpg' %})">
                <!-- Background Image-->
                <div class="slide-bg-img bg-img  " style="background-image: url({% static 'images/Slider-updt/4.jpg' %}); "></div>
                <!-- Welcome Text -->
                <div class="row h-100 align-items-center justify-content-center">
                  <div class="col-12 col-lg-12">
                      <div class="welcome-text text-center mt-5 pt-5" style="margin-top:22vh !important;">

                          <h2 class="mt-5 pt-5"  data-animation="fadeInDown" data-delay="300ms">har kaam<span> desh ke</span> naam</h2>


                      </div>
                  </div>
              </div>
                <!-- Slide Duration Indicator -->
                <div class="slide-du-indicator"></div>
            </div>

            <div class="single-slide bg-img" style="background-image: url({% static 'images/banner/NIPbg3.jpg' %})">
                <!-- Background Image-->
                <div class="slide-bg-img bg-img " style="background-image: url({% static 'images/Slider-updt/215.jpg' %});"></div>
                <!-- Welcome Text -->
                <div class="container h-100">
                  <div class="row h-100 align-items-center justify-content-center">
                      <div class="col-12 col-lg-12">
                        <div class="welcome-text text-center mt-5 pt-5" style="margin-top:22vh !important;">
                          <h2 class="mt-5 pt-5" data-animation="fadeInUp" data-delay="300ms">har kaam<span> desh ke</span> naam</h2>


                      </div>
                      </div>
                  </div>
                </div>
                <!-- Slide Duration Indicator -->
                <div class="slide-du-indicator"></div>
            </div>

            <!-- Single Slide -->
            <div class="single-slide bg-img" style="background-image: url({% static 'images/banner/NIPbg3.jpg' %})">
                <!-- Background Image-->
                <div class="slide-bg-img bg-img " style="background-image: url({% static 'images/Slider-updt/44.jpg' %});"></div>
                <!-- Welcome Text -->
                <div class="row h-100 align-items-center justify-content-center">
                  <div class="col-12 col-lg-12">
                    <div class="welcome-text text-center mt-5 pt-5" style="margin-top:22vh !important;">
                      <h2 class="mt-5 pt-5" data-animation="fadeInUp" data-delay="300ms">har kaam<span> desh ke</span> naam</h2>


                  </div>
                  </div>
              </div>
                <!-- Slide Duration Indicator -->
                <div class="slide-du-indicator"></div>
            </div>

            <!-- Single Slide -->
            <div class="single-slide bg-img" style="background-image: url({% static 'images/banner/NIPbg3.jpg' %})">
                <!-- Background Image-->
                <div class="slide-bg-img bg-img " style="background-image: url({% static 'images/Slider-updt/75.jpg' %});"></div>
                <!-- Welcome Text -->
                <div class="container h-100">
                  <div class="row h-100 align-items-center justify-content-center">
                      <div class="col-12 col-lg-12">
                        <div class="welcome-text text-center mt-5 pt-5" style="margin-top:22vh !important;">
                          <h2 class="mt-5 pt-5" data-animation="fadeInUp" data-delay="300ms">har kaam<span> desh ke</span> naam</h2>
                      </div>
                      </div>
                  </div>
                </div>
                <!-- Slide Duration Indicator -->
                <div class="slide-du-indicator"></div>
            </div>
            <!-- Single Slide -->
            <div class="single-slide bg-img" style="background-image: url({% static 'images/banner/NIPbg3.jpg' %})">
                <!-- Background Image-->
                <div class="slide-bg-img bg-img " style="background-image: url({% static 'images/Slider-updt/29.jpg' %});"></div>
                <!-- Welcome Text -->
                <div class="row h-100 align-items-center justify-content-center">
                  <div class="col-12 col-lg-12">
                    <div class="welcome-text text-center mt-5 pt-5" style="margin-top:22vh !important;">
                      <h2 class="mt-5 pt-5" data-animation="fadeInUp" data-delay="300ms">har kaam<span> desh ke</span> naam</h2>


                  </div>
                  </div>
              </div>
                <!-- Slide Duration Indicator -->
                <div class="slide-du-indicator"></div>
            </div>

            </div>
          </div>
        </div>
       <!-- </section> -->

       <div class="row">
          <div class="container">
             <div class="col-md-3 column">
                <div class="card">
                   <img class="img-responsive" src="{% static 'images/sept/box-blue-icon-7.png' %}"  style="width:100%">

                </div>
             </div>
             <div class="col-md-3 column">
                <div class="card">
                   <img class="img-responsive" src="{% static 'images/sept/1200px-Button-Blue.png' %}"  style="width:100%">
                </div>
             </div>
             <div class="col-md-3 column">
                <div class="card">
                  <img class="img-responsive" src="{% static 'images/sept/button-blue-icon-button-png.jpg' %}"  style="width:100%">

                </div>
             </div>
             <div class="col-md-3 column">
                <div class="card">
                   <img class="img-responsive" src="{% static 'images/sept/blue-glass-button-with-metal-frame-rsaound-3d-icon-vector-26593708.jpg' %}" alt="John" style="width:100%">

                </div>
             </div>
             <div class="col-md-3 column">
                <div class="card">
                   <img class="img-responsive" src="{% static 'images/sept/blue_round_button_5022.jpg' %}" alt="Mike" style="width:100%">

                </div>
             </div>
             <div class="col-md-3 column">
                <div class="card">
                  <img class="img-responsive" src="{% static 'images/sept/blue_round_button_5022.jpg' %}" style="width:100%">

                </div>
             </div>
             <div class="col-md-3 column">
                <div class="card">
                   <img class="img-responsive" src="{% static 'images/sept/blue-round-button-with-chrome-frame-vector-19993973.jpg' %}" alt="Mike" style="width:100%">
                </div>
             </div>
             <div class="col-md-3 column">
                <div class="card">
                   <img class="img-responsive" src="{% static 'images/sept/aa.jpg' %}" alt="John" style="width:100%">

                </div>
             </div>

             <div class="col-md-3 column">
                <div class="card">
                   <img class="img-responsive" src="{% static 'images/sept/kisspng-soldier-salute-military-army-clip-art-5ada6505241b14.7658410015242621491479.jpg' %}" alt="John" style="width:100%">

                </div>
             </div>
             <div class="col-md-3 column">
                <div class="card">
                   <img class="img-responsive" src="{% static 'images/sept/navy-captain-1697022-1438095.png' %}" alt="John" style="width:100%">

                </div>
             </div>


             <div class="col-md-3 column">
                <div class="card">
                   <img class="img-responsive" src="{% static 'images/sept/navy-clipart-soldier-salute.jpg' %}" alt="John" style="width:100%">

                </div>
             </div>

             <div class="col-md-3 column">
                <div class="card">
                   <img class="img-responsive" src="{% static 'images/sept/navy-man-african-512.png' %}" alt="John" style="width:100%">

                </div>
             </div>

             <div class="col-md-3 column">
                <div class="card">
                   <img class="img-responsive" src="{% static 'images/sept/navy-officer-vector-illustration-decorative-design-navy-officer-vector-illustration-decorative-design-185085911.jpg' %}" alt="John" style="width:100%">

                </div>
             </div>


             <div class="col-md-3 column">
                <div class="card">
                   <img class="img-responsive" src="{% static 'images/sept/navyyyy-780x405.jpg' %}" alt="John" style="width:100%">

                </div>
             </div>


             <div class="col-md-3 column">
                <div class="card">
                   <img class="img-responsive" src="{% static 'images/sept/popular-blue-color-web-button-3d-vector-2359930.jpg' %}" alt="John" style="width:100%">

                </div>
             </div>


             <div class="col-md-3 column">
                <div class="card">
                   <img class="img-responsive" src="{% static 'images/sept/portrait-of-a-navy-officer-saluting-B5WGT0.jpg' %}" alt="John" style="width:100%">

                </div>
             </div>
          </div>
       </div>




       <!-------------------------------------------------------->










            <!-- <section id="contant" class="contant pt-4" style="padding:5px 25px; background-image: url({% static 'images/13.jpg' %}) " > -->

            </section>





             <style>

          .img {
        border: 1px solid #ddd;
        border-radius: 4px;
         border-radius: 50%;
        background-color:#8080802e
        padding: 5px;

      }

      .img:hover {
        box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
      }

      .galleryimg:hover {
        box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
      }


          .grens
          {
             border-radius: 50%;
        background-color:#eaf2ec
          }
          .oranges
          {
            border-radius: 50%;
        background-color:#f7e5e58a

          }
      .dropbtn {

        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
      }

      .dropbtn:hover, .dropbtn:focus {

      }

      .dropdown {
        position: relative;
        display: inline-block;
      }

      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #fff;
        min-width: 160px;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 10;
      }

      .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }

      .dropdown a:hover {color: #ddd;}

      .show {display: block;}



      /*------------------------------------------*/


      </style>
            <style>
              .btn_gallery {
                display: inline-block;
                /* border: 2px solid #ca8229; */
                  padding: 12px 0px;
                  color: #ca8229;
                  font-size: 140%;
                  font-family:WhitneyHTF-Book ;
                  text-align: center;
                  position: absolute;
                  width: 190px;
                  left: 10%;
                  bottom: 30px;
              }
              .galleryContent {
                position: absolute;
                  width: 100%;
              }

            </style>






            <!-- </div> -->







           {% include 'application/footer.html' %}
            <!-- ALL JS FILES -->


      </html>
      {% endblock base_content %}

      {% block htmljs %}


      {% endblock htmljs %}
