
{% extends "application/base.html" %}

{% load static %}
{% block header %}
<!DOCTYPE html>
<html lang="en">
   <!-- Basic -->
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <!-- Mobile Metas -->
   <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
   <!-- Site Metas -->
   {% block title %}{% endblock %}
   <meta name="keywords" content="">
   <meta name="description" content="">
   <meta name="author" content="">
   <!-- Site Icons -->
   <link rel="shortcut icon" href="" type="image/x-icon" />
   <link rel="apple-touch-icon" href="">
   <!-- <script src="{% static 'js/commander.js' %}"></script> -->
   <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
   <!-- Site CSS -->
   <link rel="stylesheet" href="{% static 'style.css' %}">
   <!-- Colors CSS -->
   <link rel="stylesheet" href="{% static 'css/colors.css' %}">
   <!-- ALL VERSION CSS -->
   <link rel="stylesheet" href="{% static 'css/versions.css' %}">
   <!-- Responsive CSS -->
   <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
   <!-- Custom CSS -->
   <link rel="stylesheet" href="{% static 'css/custom.css' %}">
   <!-- font family -->
   <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
   <!-- end font family -->
   <link rel="stylesheet" href="{% static 'css/3dslider.css' %}" />
   <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
   <link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
   <style>
                          ul, #myULtag {
                            list-style-type: none;
                          }

                          #myULtag {
                            margin: 0;
                            padding: 0;
                            border-left: 1px dotted #aaa;
                          }

                          .box {
                            cursor: pointer;
                            -webkit-user-select: none; /* Safari 3.1+ */
                            -moz-user-select: none; /* Firefox 2+ */
                            -ms-user-select: none; /* IE 10+ */
                            user-select: none;
                          }

                          .box::before {
                            content: "\2610";
                            color: black;
                            display: inline-block;
                            margin-right: 6px;
                          }

                          .check-box::before {
                            content: "\2611"; 
                            color: dodgerblue;
                          }

                          .nested {
                            display: none;
                            padding-left: 18px;
                            border-left: 1px dotted #aaa;
                          }

                          .actives {
                            display: block;
                          }
                          </style>
  <style>
.dropbtn {
  
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 10;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {color: #ddd;}

.show {display: block;}
</style>
<script>
/* When the user clicks on the button, 
toggle between hiding and showing the dropdown content */
function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>


   {% endblock header %}
   {% block css %}


   {% endblock %}
   {% block base_content %}


     <script>
       $(window).on('load',function(){

     })
       </script>

      <!-- LOADER -->
      <div id="preloader">
         <img class="preloader" src="{% static 'images/loading-img.gif'%}" alt="">
      </div>
      <!-- END LOADER -->

      <section id="top">
         <header>
            <div class="container">
               <div class="header-top">
                  <div class="row">
                     <div class="col-md-6">
                        <div class="full">
                           <div class="logo">
                              <span style="font-weight: bold; font-family: Arial, sans-serif; color:#fff; font-size:30px;">Naval Intranet Portal</span>
                              <!-- <a href="index.html"><img src="{% static 'images/logo.jpg' %}" alt="#" width="100%"/></a> -->
                           </div>
                        </div>
                     </div>
                     <div class="col-md-6">
                        <div class="right_top_section">

                           <ul class="social-icons pull-left">
                              <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                              <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                              <li><a class="youtube" href="#"><i class="fa fa-youtube-play"></i></a></li>
                              <li><a class="pinterest" href="#"><i class="fa fa-pinterest-p"></i></a></li>
                           </ul>

                        

                               {% if request.user.is_authenticated %}
                                 
                                 <div class="dropdown">
                                    <a onclick="myFunction()" class="dropbtn">{{user.email}}</a>
                                    <div id="myDropdown" class="dropdown-content">
                                      <a href="#home">Loout</a>
                                     
                                    </div>
                                  </div>
                                          Logout{% endif %}            
                              <!-- <li class="login-modal">
                                 <a href="#" class="login"><i class="fa fa-user"></i>Login</a>
                              </li> -->
                              <!-- <li>

                                 <div class="cart-option">
                                    <a href="#"><i class="fa fa-shopping-cart"></i>Register</a>
                                 </div>
                              </li> -->
                           </ul>

                        </div>
                     </div>
                  </div>
               </div>
                {% include 'application/nav.html' %}
            </div>
         </header>
         <div class="full-slider">
          {% include 'application/slider.html' %}
           
            <!-- /.carousel -->
            <div class="news">
               <div class="container">
                  <div class="heading-slider">
                     <p class="headline"><i class="fa fa-star" aria-hidden="true"></i> Top Headlines :</p>
                     <!--made by vipul mirajkar thevipulm.appspot.com-->

                       <!-- <a href="" id="news_listss" class="typewrite" data-period="2000"> <table><tr id="news_listss"></tr></table></a> -->
                       <marquee class="w-100 h5 pb-0 pt-1" behavior="scroll" direction="left"
                           onmouseover="this.setAttribute('scrollamount', 3, 0);"
                           onmouseout="this.setAttribute('scrollamount', 2, 0);" id="news_list"><table><tr id="news_listss"></tr></table>

                  </marquee>



                  </div>
               </div>
            </div>
         </div>
      </section>

      <section id="contant" class="contant" >
        
         <div class="container">
            <div class="row" id="ack_mens">
              <div class="col-lg-4 col-sm-4 col-xs-4">
                <aside id="sidebar" class="left-bar">
                  <input type="hidden" name="" id="ackdetail" value="{{menu_bar}}">
                  <ul id="myULtag" >
                   
                    {% for manu_bar in sub_menu %}
                    <li><input type="radio" name="ack" id="aa_{{manu_bar.id}}" value="{{manu_bar.id}}" name="megafol" class="box" onclick="megafolder(this.id,this.className)" ><i class="fa fa-folder" style="color: yellow"></i>{{manu_bar}}<ul class="nested" id="nested_{{manu_bar.id}}">
                            </ul>
                      
                    </li>
                     {% endfor %}

                  </ul>
                 

                  <script>
                  var toggler = document.getElementsByClassName("box");
                  var i;

                  for (i = 0; i < toggler.length; i++) {
                    toggler[i].addEventListener("click", function() {
                      this.parentElement.querySelector(".nested").classList.toggle("actives");
                      this.classList.toggle("check-box");
                    });
                  }

                   function megafolder(idd,cls)

                          {
                            var ackdetail =  $('#ackdetail').val()
                             var chkbx  =   document.getElementById(idd).checked
                             


                             //var menubar  = $('#menu_bars').val()
                             var toggler = document.getElementsByClassName("cls");
                             var i;
                             var id_obj = idd.split("_")
                             var id_ob = id_obj[1]
                             var nested = '#nested_'+id_ob
                             
                             $.ajax({
                                  url:  '/acknowledge/publication_view/'+id_ob+'/',
                                  type: "GET",
                                  dataType: "json",
                                  data:{"menubar":ackdetail},
                                  success: function(response){
                                    $('#ackid').empty()
                                    if(response.length > 0)
                                    {
                                      //alert(JSON.stringify(response))
                                      $('#totallength').html(response.length)
                                      if (ackdetail == 'Policy Letters')
                                      {$('#ackid').empty()
                                        for (var i =0; i<response.length;i++)
                                        {
                                          
                                          $('#ackid').append(`<div class="col-lg-12 col-sm-12 col-xs-12" style="padding-top:3%;" ><div class="col-lg-2 col-sm-2 col-xs-2"><i class="fa fa-file-pdf-o" style="font-size:36px;color:#FF6347; border: 1px solid #ddd;
                                          border-radius: 4px;
                                          padding: 5px;
                                          width: auto; border-color: #f7b7c2;"></i> </div><div class="col-lg-10 col-sm-10 col-xs-10" style="align:justify"><a href="#">${response[i]['folder_title']}</a></div></div>`)
                                        }
                                      }
                                    }
                                    
                                  }

                                })
                             $.ajax({
                                  url:  '/acknowledge/policyView/'+id_ob+'/',
                                  type: "GET",
                                  dataType: "json",
                                  data:{"menubar":ackdetail},
                                  success: function(response){
                                    $(nested).empty()
                                     for (var i=0; i<response.length;i++)
                                              {
                                                //alert(JSON.stringify(response[i]))
                                                $(nested).append(`<li style="border-bottom:1px dotted black;"><input type="checkbox" id="bb_${response[i]['id']}" name="megafols" class="box" onclick="megafolder(this.id,this.className)"><i class="fa fa-folder" style="color: yellow"></i>${response[i]['submenu_name']}<ul class="nested" id="nested_${response[i]['id']}" style="border-top:1px dotted black;">
                                               </ul></li>`)
                                              }
                                    // $(nested).append(`<li style="border-bottom:1px dotted black;"><input type="checkbox" id></li>`)
                                  }
                                })


                           }
                  </script>
                  <div class="feature-matchs">
                  </div>
                </aside>
              </div>
              <div class="col-lg-8 col-sm-8 col-xs-8">
                <aside id="sidebar" class="left-bar">
                     <div class="feature-matchs">
                        <h4 style="border-bottom:1px dotted grey; background-color: #f39c12; color:#fff; font-weight:bold"> {{menu_bar}}</h4>
                        <div class="team-btw-match">
                          <div class="col-lg-12 col-sm-12 col-xs-12">
                            <div class="col-lg-4 col-sm-4 col-xs-4"><h3>Tot : <span id="totallength"></span></h3>
                            </div>
                            <div class="col-lg-8 col-sm-8 col-xs-8">
                              {% if menu_bar == 'Publications' %}
                              <img src="http://192.168.0.8:8088/static/images/publications.jpg" width="200px" height="100px" class="rounded-circle" alt="Cinque Terre" >
                              {% elif  menu_bar == 'Policy Letters' %}
                              <img src="http://192.168.0.8:8088/static/images/policy_red.png" class="rounded-circle" alt="Cinque Terre" >
                              {% endif %}
                            </div>
                          </div>
                          <div class="col-lg-12 col-sm-12 col-xs-12" id="ackid">
                            {% for manu_bar in sub_menu %}
                           <!--  <div class="col-lg-12 col-sm-12 col-xs-12" style="padding-top:3%;" ><div class="col-lg-2 col-sm-2 col-xs-2"><i class="fa fa-file-pdf-o" style="font-size:36px;color:#FF6347; border: 1px solid #ddd;
                              border-radius: 4px;
                              padding: 5px;
                              width: auto; border-color: #f7b7c2;"></i> </div><div class="col-lg-10 col-sm-10 col-xs-10" style="align:justify"><a href="#">{{manu_bar}}</a></div></div> -->

                            {% endfor %}
                            {% if sub_menu.has_other_pages == True %}
                                {% if sub_menu.has_other_pages == True %}
                               
                                
                                {% if sub_menu.has_previous == True %}
                                <a id="page{{sub_menu.previous_page_number}}" href="/blogs/blog_list/?page={{sub_menu.previous_page_number}}">prev</a>

                                {% endif %}

                                {% endif %}
                               

                                
                                {% for i in PAGINATION_COUNT%}
                               
                                {% if i == sub_menu.number %}
                                <a id="page{{i}}" class="selected" href="/blog/blog_list/?page={{i}}">{{i}}</a>

                                {% else %}
                                <a id="page{{i}}" href="/blog/blog_list/?page={{i}}">{{i}}</a>

                                {% endif %}
                                

                                {% endfor %}
                                {% if staff_image.has_next == True %}
                                <a id="page{{staff_image.next_page_number}}" href="/blog/blog_list/?page={{staff_image.next_page_number}}">next</a>
                                {% endif %}
                                {% endif %}
                          </div>
                        </div>
                     </div>
                  </aside>
              </div>
              <!-- <div class="col-lg-6 col-sm-6 col-xs-6">
                <aside id="sidebar" class="left-bar">
                  <div class="feature-matchs">
                  </div>
                </aside>
              </div> -->
              
              
               
               
            </div>
         </div>
      </section>
      

      <section id="contant" class="contant" >
         <div class="container">
            <div class="row">
               <div class="col-lg-6 col-sm-4 col-xs-12">
                  <aside id="sidebar" class="left-bar">
                    <div class="banner-sidebar">
                      <div class="banner-sidebar">
                        
                       <span id=""><h4>Policy</h4></span>  <hr>
                       <iframe src="https://node1.example.com/" height="200" width="300"></iframe>
                         <!--  <table><tbody id="public_objsss">
                            {% for class_ob in policy %}
                              <tr><td style="width:25%"><i class="fa fa-file-pdf-o" style="font-size:18px;color:red"></i></td><td style="width:75%" align="center"><a href="/media/{{class_ob.file}}/" target="_blank">{{class_ob.policies_name}}</a></td></tr>

                            {% endfor %}
                          </tbody></table> -->
                       
                      </div>
                        
                    </div>
                  </aside>

                  

               </div>
              <div class="col-lg-6 col-sm-4 col-xs-12">

              </div>
               
               

               </div>
            </div>
         </div>
      </section>


     







     
      <footer id="footer" class="footer">
         <div class="container">
            <div class="row">
               <div class="col-md-4">
                  <div class="full">
                     <div class="footer-widget">
                        <div class="footer-logo">
                           <a href="#" style="color:#fff; font-weight:bold;">Naval Intranet Portal</a>
                        </div>
                        <!-- <p>Most of our events have hard and easy route choices as we are always keen to encourage new riders.</p> -->
                        <ul class="social-icons style-4 pull-left">
                           <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                           <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                           <li><a class="youtube" href="#"><i class="fa fa-youtube-play"></i></a></li>
                           <li><a class="pinterest" href="#"><i class="fa fa-pinterest-p"></i></a></li>
                        </ul>
                     </div>
                  </div>
               </div>
               <div class="col-md-2">
                  <div class="full">
                     <div class="footer-widget">
                        <h3>Menu</h3>
                        <ul class="footer-menu">
                           <li><a href="about.html">About Us</a></li>
                           <li><a href="team.html">Application </a></li>
                           <li><a href="news.html">Acknowledge</a></li>
                           <li><a href="matche.html">Blog</a></li>
                           <li><a href="blog.html">Policy</a></li>
                           <li><a href="contact.html">Contact Us</a></li>
                        </ul>
                     </div>
                  </div>
               </div>
               <div class="col-md-3">
                  <div class="full">
                     <div class="footer-widget">
                        <h3>Contact us</h3>
                        <ul class="address-list">
                           <li><i class="fa fa-map-marker"></i> Lorem Ipsum is simply dummy text of the printing..</li>
                           <li><i class="fa fa-phone"></i> 123 456 7890</li>
                           <li><i style="font-size:20px;top:5px;" class="fa fa-envelope"></i> demo@gmail.com</li>
                        </ul>
                     </div>
                  </div>
               </div>
               <div class="col-md-3">
                  <div class="full">
                     <div class="contact-footer">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d120615.72236587871!2d73.07890527988283!3d19.140910987164396!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1527759905404" width="600" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="footer-bottom">
            <div class="container">
               <p>Copyright © 2020 Indian navy.All rights reserved.</p>
            </div>
         </div>
      </footer>
      <a href="#home" data-scroll class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>
      <!-- ALL JS FILES -->


</html>
{% endblock base_content %}

{% block htmljs %}


{% endblock htmljs %}
